@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.cardConteiner {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card {
  /* border: 2px solid black; */
  width: 330px;
  height: 660px;
  margin-bottom: 5rem;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  transition: all 0.25;
  background: linear-gradient(to bottom right, #12232e, #007cc7);
  position: relative;
}

.card::before {
  content: "";
  background: linear-gradient(to bottom right, #12232e, #007cc7);
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: translateY(10%) scale(0.85);
  filter: blur(30px);
}

.cardConteiner .card:hover {
  /* transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); */
  background-color: rgb(62, 62, 62);
  color: #4da8da;

  transform: scale(1.03);
}

.cardConteiner .card .imagen {
  width: 325px;
  height: 220px;
  margin-bottom: 20px;
  background-size: cover;
  border-radius: 15px 15px 0px 0px
}

.card .containerTitulo {
  margin: 10px;

}

.card .titulo h3 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

.linkNombre {
  text-decoration: none;
}



.linkNombre p {
  background-image: linear-gradient(90deg, #12232e, #007cc7, #4da8da);
  background-size: 0% 3px;
  font-weight: 600;
  color: #00303f;
  text-transform: uppercase;
  font-size: 1.5em;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: left bottom;
  transition: background-size 700ms ease-in-out;
}

.linkNombre p:hover {
  background-size: 95% 3px;
  color: #707070
}

.containerTitulo p {
  font-size: 1.5rem;
}